*,
*:before,
*:after{
  box-sizing: border-box;
}

html{
  font: #{$font-size-sm}/1 Arial, sans-serif;
}

body{
  padding: 0 10px;
  background: $grey;
  color: $grey-darker;
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:focus{
  text-decoration: none;
  color: $grey-darker;
}