.u-borders-title{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: calc(50% - 25vw);
    transform: translateY(-50%);
    width: calc(50vw);
    border-top: 1px solid $grey-lightest;
  }
  &:after{
    top: 0;
    left: -10px;
    width: calc(100% + 20px);
    max-width: calc(100vw - 20px);
    height: 100%;
    background: $grey;
  }
}