$values: (sm:$font-size-sm, m:$font-size-m, l:$font-size-l, xl:$font-size-xl, xxl:$font-size-xxl, 3xl:$font-size-3xl);

@each $key, $i in $values {
  .u-font-size--#{$key}{
    font-size: $i;
  }
}

@media (max-width: $screen-tablet) {
  $values: (xxl:$font-size-xl, 3xl:$font-size-xl);

  @each $key, $i in $values {
    .u-font-size--#{$key}{
      font-size: $i;
    }
  }
}