.c-btn{
  display: inline-block;
  text-align: center;
  transition: .3s;

  &.c-btn--green{
    color: $white;
    background: $green;

    @media (min-width: $screen-small + 1) {
      &:hover{
        background: $green-darker;
      }
    }
  }

  &.c-btn--border-green{
    border: 2px solid $green;
    color: $green;

    @media (min-width: $screen-small + 1) {
      &:hover {
        background: $green;
        color: $white;
      }
    }
  }

  &.c-btn--border-grey{
    border: 2px solid $grey-lightest;
    color: $grey-lighter;

    @media (min-width: $screen-small + 1) {
      &:hover {
        border-color: $grey-lighter;
      }
    }
  }

  &.c-btn--block{
    width: 100%;
  }

  &.c-btn--m{
    padding: 12px 20px;
    border-radius: 22px;
    margin: 30px 0;
    font-size: $font-size-l;

    &.c-icon--chat{
      padding-right: 50px;
    }
  }

  &.c-btn--sm{
    padding: 4px 15px;
    border-radius: 11px;
    font-size: $font-size-xm;
  }
}