/*
** ANIMATIONS
*/
@keyframes fadeInMainSliderTextBlock {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOutMainSliderTextBlock {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeInPanel {
  0% { opacity: 0; }
  30% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes nextSlideControler {
  0% {
    opacity: 0;
    top: 10px;
    left: 10px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 40px;
    left: 40px;
  }
}

@keyframes fadeInChess {
  0% {
    opacity: 0;
    top: -10px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
/*
** END ANIMATIONS
*/